<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.optoma.launcher">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Leanback">
        <activity
            android:name=".home"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InputSource"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity
            android:name=".Settings.Settings"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity
            android:name=".Settings.Audio"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>
        <activity
            android:name=".Settings.Control"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>
        <activity
            android:name=".Settings.Information"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>
        <activity
            android:name=".Settings.System"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>
        <activity
            android:name=".Settings.Power"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>
        <activity
            android:name=".Settings.Bluetooth"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>
        <activity
            android:name=".Settings.General"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>
        <activity
            android:name=".Settings.NetworkMain"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>
    </application>
</manifest>
